<div class="header" [ngClass]="{'dark-menu': isDark}">
  <a href="/" class="logo">
    <span class="grey-color"> &lt;</span>
    <span class="logo-name">{{greeting.username}}</span>
    <span class="grey-color">/&gt;</span>
  </a>
  <input class="menu-btn" type="checkbox" id="menu-btn">
  <label class="menu-icon" for="menu-btn">
    <span [ngClass]="{'navicon-dark': isDark}" class="navicon"></span>
  </label>
  <ul [ngClass]="{'dark-menu': isDark}" class="menu">
    <li *ngIf="information.introduction.display">
      <a href="#hello">Hello</a>
    </li>
    <li>
      <a href="#about-me">About Me</a>
    </li>
    <li>
      <a href="#skills">Skills</a>
    </li>
    <li>
      <a href="#journey">Journey</a>
    </li>
    <li>
      <a href="#projects">Projects</a>
    </li>
    <li>
      <a href="#achievements">Achievements</a>
    </li>
    <li style="align-items: center; margin: 16px">
      <app-toggle-switch></app-toggle-switch>
    </li>
  </ul>
</div>
