<div class="main" [ngClass]="{'dark-mode':isDark}" id="skills">
  <div class="skills-main-div">
    <div class="skills-image-div">
      <img alt="Girl working" [src]="skillsImage">
    </div>
    <div class="skills-text-div">
      <h1 class="skills-heading" [ngClass]="{'dark-mode':isDark}">
        {{skillsSection.title}}
      </h1>
      <p class="subTitle skills-text-subtitle" [ngClass]="{'dark-mode':isDark}">
        {{skillsSection.subTitle}}
      </p>
      <div *ngFor="let skill of skillsSection.skills">
        <p class="subTitle skills-text" [ngClass]="{'dark-mode':isDark}">
          {{skill}}
        </p>
      </div>
    </div>
  </div>
</div>
