<div [ngClass]="{'experience-card-dark': isDark, 'experience-card': !isDark}">
  <div [ngStyle]="{'background': rgb()}" class="experience-banner">
    <div class="experience-blurred_div"></div>
    <div class="experience-div-company">
      <h5 class="experience-text-company">{{experience.company}}</h5>
      <p class="subText">{{experience.short_note}}</p>
    </div>
    <img
      #imgRef
      crossOrigin="anonymous"
      class="experience-roundedimg"
      [src]="experience.companyLogo"
      [alt]="experience.company"
      (load)="getColorArrays()"
    >
  </div>
  <div class="experience-text-details">
    <h5 class="experience-text-role" [ngClass]="{'dark-mode-text':isDark}">
      {{experience.role}}
    </h5>
    <h5 class="experience-text-role" [ngClass]="{'dark-mode-text':isDark}">
      {{experience.date}}
    </h5>
    <p class="subTitle experience-text-desc" [ngClass]="{'dark-mode-text':isDark}">
      {{experience.desc}}
    </p>
    <ul>
      <li *ngFor="let item of experience.keyNotes" class="subTitle" [ngClass]="{'dark-mode-text':isDark}">
        {{item}}
      </li>
    </ul>
  </div>
</div>
